main, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(ocean.png);
  background-repeat: repeat;
  background-size: initial 10vh;
  color: black;
  font-family: "main";
  font-size: 2vh;
}

@font-face {
  font-family: "main";
  src: url(Spectral-Regular.ttf);
}