main, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d4dbff;
  color: black;
  font-family: "main";
  font-size: 2vh;
}

@font-face {
  font-family: "main";
  src: url(Spectral-Regular.ttf);
}

img.banner {
  left: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
}