main, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d4dbff;
  color: black;
  font-family: "main";
  font-size: 2vh;
}

@font-face {
  font-family: "main";
  src: url(Spectral-Regular.ttf);
}

section.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url(banner.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}