main, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d4dbff;
  color: black;
  font-family: "main";
  font-size: 2.5vh;
}

@font-face {
  font-family: "main";
  src: url(Spectral-Regular.ttf);
}

section#topbar {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(banner.png);
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 60vh;
}